---
import "@a11ywatch/react-a11ywatch-js/css/tailwind.css";
import Layout from '../layouts/Layout.astro';
import { App } from "../components/App";

// SSG pass API route to client
const apiUrl = import.meta.env.NEXT_PUBLIC_A11YWATCH_API || import.meta.env.PUBLIC_API || "http://localhost:3280";
---

<Layout title="Welcome to Access Panel.">
	<main>
		<h1>Welcome to <span class="text-gradient">Access Panel</span></h1>
		<App client:load apiUrl={apiUrl} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 2.8rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
